<div class="price">
    <div class="price__panel poster" aria-label="Price list panel">
        <div class="poster">
            <h1 class="block--header">PRICE LIST</h1>
            <div class="stage">
                <section class="block block--sketch">
                    <div class="block__heading">SKETCH</div>

                    <div class="block__lines">
                        <div>PORTRAIT – $25</div>
                        <div>HALF-BODY – $30</div>
                        <div>FULL-BODY – $40</div>
                    </div>
                </section>
                <section class="block block--full-colour">
                    <div class="block__heading">FULL-COLOR ART</div>

                    <div class="block__lines">
                        <div>PORTRAIT: $50</div>
                        <div>HALF-BODY: $70</div>
                        <div>FULL-BODY: $100</div>
                    </div>
                </section>
                <section class="block block--nsfw-block">
                    <div class="block__heading">
                        <div>NSFW: +50% OF THE</div>
                        <div>
                            TOTAL PRICE
                        </div>
                    </div>
                    <p class="block__note">
                        (APPLIES TO THE FINAL COST INCLUDING ADD-ONS)
                    </p>
                </section>
                <section class="block block--extra">
                    <div class="block__heading">EXTRA DETAILS</div>
                    <div class="block__sub">
                        (TOYS, CLOTHING, ACCESSORIES, ETC.)
                    </div>
                    <div class="block__note">
                        PRICE DEPENDS ON COMPLEXITY AND AMOUNT:
                    </div>
                    <div class="block__price">
                        $15–100
                    </div>
                </section>

                <section class="block block--fetish">
                    <p class="block__text">
                        FETISHES AND THEIR PRICING ARE BEST DISCUSSED WITH THE COMMISSION MANAGER IN ADVANCE.
                    </p>

                    <p class="block__text">
                        PRICES MAY START FROM $15, DEPENDING ON HOW THE REQUEST AFFECTS THE ARTWORK.
                    </p>
                </section>

                <section class="block block--addons">
                    <div class="block__heading">ADD-ONS</div>

                    <div class="block__lines">
                        <div><span>ADDITIONAL CHARACTER</span><span>+70%</span></div>
                        <div><span>COMPLEX BACKGROUND</span><span>+$50–100</span></div>
                        <div><span>SIMPLE BACKGROUND</span><span>+$5–35</span></div>
                        <div><span>ABSTRACT BACKGROUND</span><span>FREE</span></div>
                    </div>

                    <div class="block__contact">
                        COMMISSION MANAGER ON DISCORD:
                        <span class="discord-copy"
                              onclick="navigator.clipboard.writeText('kalzkater')">
                         KALZKATER
                        </span> (click to copy)
                    </div>
                </section>

                <figure class="slot slot--scetch1">
                    <img src="https://derpicdn.net/img/view/2026/1/30/3755468.png" alt="">
                </figure>
                <figure class="slot slot--scetch2">
                    <img src="assets/images/examples/sketch2.jpg" alt="">
                </figure>
                <figure class="slot slot--scetch3">
                    <img src="assets/images/examples/sketch3.jpg" alt="">
                </figure>
                <figure class="slot slot--scetch4">
                    <img src="assets/images/examples/sketch_width.jpg" alt="">
                </figure>
                <figure class="slot slot--fc1">
                    <img src="https://derpicdn.net/img/2025/6/12/3622201/large.jpg" alt="">
                </figure>
                <figure class="slot slot--fc-2">
                    <img src="https://derpicdn.net/img/2025/10/24/3698501/large.jpg" alt="">
                </figure>
                <figure class="slot slot--fc3">
                    <img src="https://derpicdn.net/img/2026/2/17/3767588/large.jpg" alt="">
                </figure>
                <figure class="slot slot--fet1">
                    <img src="https://derpicdn.net/img/view/2026/1/16/3747646.jpg" alt="">
                </figure>
                <figure class="slot slot--fet2">
                    <img src="https://derpicdn.net/img/view/2025/4/1/3577566.jpg" alt="">
                </figure>
            </div>
        </div>

    </div>
</div>
